*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.venv/

# Large datasets & documentation
PlantVillage-Dataset/
Capstone Black Book.md
Additional Information about the project/
My Obsidian markdown notes/
Viva_Questions_and_Answers.md
Viva for the Project.md






